<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'honorarios' %}">HONORARIOS</a></li>
        <li class="breadcrumb-item"><a href="{% url 'tipos_servicos' %}">TIPOS SERVIÇOS</a></li>
        <li class="breadcrumb-item"><a href="{% url 'controle_sda' %}">CONTROLE SDA</a></li>
        <li class="breadcrumb-item"><a href="{% url 'faturamento' %}">FATURAMENTO</a></li>
        <li class="breadcrumb-item"><a href="{% url 'notas_fiscais' %}">NOTAS FISCAIS</a></li>
        <li class="breadcrumb-item"><a href="{% url 'notas_debito' %}">NOTAS DE DEBITO</a></li>
    </ol>
</nav>