{% load static %}
<header class="navbar-dark bg-dark">

    <div class="container text-white">

        <h4 class="logo mt-3"><a class="nav-link" href="{% url 'homepage' %}">PLENO COMEX</a></h4>

        <nav class="menu navbar">

            <a class="nav-item px-2" href="{% url 'clientes' %}">CLIENTES</a>
            <a class="nav-item px-2" href="{% url 'processos' %}">PROCESSOS</a>
            <a class="nav-item px-2" href="{% url 'operacional' %}">OPERACIONAL</a>
            <a class="nav-item px-2" href="{% url 'suporte' %}">SUPORTE</a>

        </nav>

    </div>

</header>