{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

<main class="homepage body">

    <img src="{% static '/images/fundo_pleno_comex.png' %}" alt="" class="img-fluid">

    <section class="container"><!--  -->

        <div class="row mt-5">

            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header h3 bg-secondary text-white">
                        Clientes
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'clientes' %}" class="btn btn-primary btn-sm mx-1">CLIENTES</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'categorias' %}" class="btn btn-primary btn-sm mx-1">CATEGORIAS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'grupos' %}" class="btn btn-primary btn-sm mx-1">GRUPOS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'parceiros' %}" class="btn btn-primary btn-sm mx-1">PARCEIROS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'clientes' %}" class="btn btn-info btn-sm mx-1">MAIS INFORMAÇÕES</a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="container"><!--  -->

        <div class="row mt-5">

            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header h3 bg-secondary text-white">
                        Processos
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'processos' %}" class="btn btn-primary btn-sm mx-1">PROCESSOS COMEX</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'processos' %}" class="btn btn-primary btn-sm mx-1">PROCESSOS SERVIÇOS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'processos' %}" class="btn btn-primary btn-sm mx-1">FATURAMENTO</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'processos' %}" class="btn btn-primary btn-sm mx-1">NOTAS FISCAIS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'processos' %}" class="btn btn-info btn-sm mx-1">MAIS INFORMAÇÕES</a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="container"><!-- Operacional -->

        <div class="row mt-5">

            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header h3 bg-secondary text-white">
                        Operacional
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'operacional' %}" class="btn btn-primary btn-sm mx-1">HONORARIOS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'operacional' %}" class="btn btn-primary btn-sm mx-1">SDAs</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'operacional' %}" class="btn btn-primary btn-sm mx-1">OUTROS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'operacional' %}" class="btn btn-primary btn-sm mx-1">OUTROS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'operacional' %}" class="btn btn-info btn-sm mx-1">MAIS INFORMAÇÕES</a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="container"><!-- Suporte -->

        <div class="row mt-5">

            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header h3 bg-secondary text-white">
                        Suporte
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'suporte' %}" class="btn btn-primary btn-sm mx-1">EMPRESAS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'suporte' %}" class="btn btn-primary btn-sm mx-1">USUARIOS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'importardados' %}" class="btn btn-primary btn-sm mx-1">IMPORTAR DADOS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="{% url 'exportardados' %}" class="btn btn-primary btn-sm mx-1">EXPORTAR DADOS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'suporte' %}" class="btn btn-info btn-sm mx-1">MAIS INFORMAÇÕES</a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="mt-5"></div>

</main>
{% endblock %}