{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

<main class="homepage body">

    <img src="{% static '/images/fundo_pleno_comex.png' %}" alt="" class="img-fluid">

    <section class="container"><!-- Processos -->

        <div class="row mt-5">

            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header h3 bg-secondary text-white">
                        Processos
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-6 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">PLENO COMEX</h5>
                                        <p class="card-text">.</p>
                                        <p class="card-text">.</p>
                                        <a href="{% url 'processos_comex' %}" class="btn btn-primary btn-sm mx-1">ACESSAR</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">PLENO SERVIÇOS</h5>
                                        <p class="card-text">.</p>
                                        <p class="card-text">.</p>
                                        <a href="{% url 'processos_servicos' %}" class="btn btn-primary btn-sm mx-1">ACESSAR</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">NEXT BHZ</h5>
                                        <p class="card-text">.</p>
                                        <p class="card-text">.</p>
                                        <a href="{% url 'processos_nextbh' %}" class="btn btn-primary btn-sm mx-1">ACESSAR</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">NEXT BHZ</h5>
                                        <p class="card-text">.</p>
                                        <p class="card-text">.</p>
                                        <a href="{% url 'processos_nextbh' %}" class="btn btn-primary btn-sm mx-1">ACESSAR</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">LEAN LOGISTICA</h5>
                                        <p class="card-text">.</p>
                                        <p class="card-text">.</p>
                                        <a href="{% url 'processos_lean' %}" class="btn btn-primary btn-sm mx-1">ACESSAR</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'processos' %}" class="btn btn-info btn-sm mx-1">MAIS INFORMAÇÕES</a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="mt-5"></div>

</main>
{% endblock %}